*{
    box-sizing: border-box;
}
#main_wrapper{
    display: table;
    width: 100%;
    min-height: 600px;
    padding: 325px 110px 50px 110px;

    background-image: url('../lodging-in-yellowstone.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#main_wrapper .main_menu_{
    position: absolute;
    top: 104px;
    right: 100px;
    list-style: none;
    width: 200px;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 1199px) {
    #main_wrapper .main_menu_{
        top: 80px;
    }
}
@media screen and (max-width: 991px) {
    #main_wrapper .main_menu_{
        display: none;
    }
}
#main_wrapper .main_menu_ li{
    width: 100%;
}
#main_wrapper .main_menu_ li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 15px #000;
}
#main_wrapper .main_menu_ li a:hover,#main_wrapper .main_menu_ li a:active{
    text-decoration: underline;
}
#main_wrapper .form-control:disabled, .form-control[readonly]{
    background: #ffffff!important;
}
@media screen and (max-width: 991px) {
    #main_wrapper {
        padding: 220px 75px 50px 75px;
    }
}
@media screen and (max-width: 767px) {
    #main_wrapper {
        padding: 160px 60px 50px 60px;
    }
    .text_position{
         text-align: center!important;
     }
}
@media screen and (max-width: 400px) {
     .container{
        padding: 0;
         margin: 0;
    }
    #main_wrapper {
        padding: 110px 35px 50px 35px;
        background-size: contain;
    }
}
.custom_form {
    width: 100%;
    display: table;
}
.alertChildPop{
    position: absolute;
    right: 0;
    top: -40px;
    padding: 13px;
    background: #ffffff;
    width: 300px;
    box-shadow: 1px 1px 4px #999;
    border-radius: 4px;
    font-size: 13px;
    color: #e26106;
}
.alertChildPop::before{
    content: '';
    position: absolute;
    right: 16px;
    bottom: -7px;
    border-left: 15px solid #fdfdfd;
    border-top: 15px solid transparent;
    z-index: 1;
    transform: rotate(-45deg);
    box-shadow: -3px 4px 6px #e0e0e0;
}
#search_value{
    padding-bottom: 20px;
    border-bottom: 1px solid rebeccapurple;
}
.text_position{
    text-align: right;
}


