body {
    background-color: #E1E1E1;
}

#main_wrapper {
    display: none;
}

.list li {
    position: relative;
    box-sizing: border-box;
    padding: 16px;
    margin: 16px 0;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: default;
    clear: both;
}

a:hover {
    text-decoration: none;
}

.item-media {
    padding-right: 10px;
}

.list.media-list {
    width: 100%;
}

.title {
    color: #07c;
}

.container {
    background-color: white;
    max-width: 1000px;
}
.no-padding{
    padding : 0;
}

.check_in, .check_out {
    background-color: initial !important;
}

.submit_button {
    text-align: center;
}

form.custom_form {
    width: 100%;
    padding: 40px;
    padding-top: 5px;
}

.btn.custom_label {
    border-radius: 100px !important;
    padding-left: 15px;
    padding-right: 15px;
}

.item-text {
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.verticalAlign td {
    vertical-align: middle;
}


.row {
    margin: 0px !important;
}

.mobileResponsive {
    padding-left: 0px;
}

.vertical {
    padding-top: 30px;
}

.vertical1 {
    padding-top: 20px;
}

.vertical2 {
    padding-left: 50%;
}

@media screen and (max-width: 767px) {
    .mobileResponsive {
        padding-left: 20px;
        padding-top: 10px;
    }

    .mobileResponsiveReserve {
        padding: 20px;
    }

    .vertical {
        padding-top: 5px;
    }

    .vertical1 {
        padding-top: 5px;
    }

    .vertical2 {
        padding-left: 0!important;
        padding-top: 5px;
    }

    .vertical3 {
        padding-left: 0px!important;
    }
}
@media screen and (max-width: 987px) {
    @media screen and (min-width: 767px) {
        .vertical3 {
            padding-left: 15%;
        }

        .vertical2 {
            padding-left: 20%;
        }
    }
}

._banner{
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
._banner ._content{
    width: 100%;
    display: table;
    padding: 15px 15px 150px 15px;
    background: rgba(0,0,0, 0.3);
    position: relative;
}
@media screen and (max-width: 650px) {
    ._banner ._content{
        width: 100%;
        display: table;
        padding: 50px 15px;
        background: rgba(0,0,0, 0.3);
        position: relative;
    }
}
._banner ._content ._rollBack{
    position: absolute;
    top: 15px;
    left: 15px;
    color: #ffd600;
    font-size: 30px;
}
@media screen and (max-width: 650px) {
    ._banner ._content ._rollBack{
        position: absolute;
        top: 10px;
        left: 10px;
        color: #ffd600;
        font-size: 20px;
    }
}
._banner ._content  ._title_heading a{
    font-weight: bold;
    font-size: 40px;
    color: #ffd600;
}
#main_wrapper{
    width: 100%;
    display: table;
    padding: 15px;
}
#lodging_search{
    width: 100%;
    display: table;
    padding: 20px 0;
}
.EachResult{
    width: 100%;
    display: table;
    padding: 15px 0;
    border-bottom: 1px solid #dedede;
}
.EachResult ._logo{
    width: 125px;
    height: 125px;
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media screen and (max-width: 650px) {
    .EachResult ._logo{
        width: 100%;
        height: 200px;
        display: inline-block;
        float: left;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}
.EachResult ._details{
    width: calc(100% - 250px);
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    min-height: 125px;
}
@media screen and (max-width: 650px) {
    .EachResult ._details{
        width: 100%;
        display: inline-block;
        text-align: center;
    }
}
.EachResult ._details ._title{
    width: 40%;
    display: table;
    padding: 0 10px;
    float: left;
}
@media screen and (max-width: 650px) {
    .EachResult ._details ._title{
        width: 100%;
        display: table;
        padding: 10px;
        text-align: center;
        margin-bottom: 10px;
    }
}
.EachResult ._details ._status{
    width: 25%;
    display: table;
    padding: 0 5px;
    float: left;
}
@media screen and (max-width: 650px) {
    .EachResult ._details ._status{
        width: 50%;
        display: table;
        padding: 0;
        text-align: center;
    }
}
@media screen and (max-width: 360px) {
    .EachResult ._details ._status{
        width: 100%;
        display: table;
        padding: 0;
        text-align: center;
    }
}
.EachResult ._details ._price{
    width: 25%;
    display: table;
    padding: 0 5px;
    float: left;
}
@media screen and (max-width: 650px) {
    .EachResult ._details ._price{
        width: 50%;
        display: table;
        padding: 0;
        text-align: center;
    }
}
@media screen and (max-width: 360px) {
    .EachResult ._details ._price{
        width: 100%;
        display: table;
        padding: 0;
        text-align: center;
    }
}
.EachResult ._submission{
    width: 100px;
    display: table;
    padding: 0 5px;
    float: right;
    text-align: right;
}
@media screen and (max-width: 650px) {
    .EachResult ._submission{
        width: 100%;
        display: table;
        padding: 10px;
        text-align: center;
        margin-top: 10px;
    }
}
.EachResult ._submission ._rooms{
    width: 100%;
    display: table;
    padding: 0 5px;
    float: right;
}
@media screen and (max-width: 650px) {
    .EachResult ._submission ._rooms .form-group{
        width: 120px;
        margin: auto;
        display: table;
        padding: 0 10px;
        text-align: center;
    }
}
#checkoutForm{
    padding: 20px;
    box-shadow: 0 0 22px #d9d9d9;
}
.form-header{
    text-align: center;
    margin: 0;
    padding: 20px 0 50px 0;
    font-size: 30px;
    font-weight: bold;
}
@media screen and (max-width: 576px) {
    .form-header{
        text-align: center;
        margin: 0;
        padding: 10px 0 15px 0;
        font-size: 20px;
        font-weight: bold;
    }
}
