<html><head><title><InsertTitle></title></head>
<body>
<!--INSTRUCTIONS
This is the template for all pages produced by viewnews.cgi. It should be a normal HTML page, like you'd
use in your site, except with the following "tags" in it. 

<Insert*Title>  Inserts the title of the document
<Insert*Content> Inserts all the content - i.e. search results. This does NOT include necessary 
		HTML tags like <body>, you must insert these yourself as in this example.
		
IMPORTANT: The * in the example above was inserted so that the example wouldn't be confused by
the script with the actual command. Remove the asterisks from the example when using
those commands.


END INSTRUCTIONS-->
<div align="center"><font color="#ff0000"><strong>

<InsertTitle>

</strong></font></div>

<InsertContent>

</body></html>